

/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f9; /* Light grey background color */
}
/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #212121;
  color: #fff;
  position: relative;
}

.logo {
  font-size: 24px;
  color: #00bfff;
  cursor: pointer;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 15px;
}

.nav a {
  color: #fff;
  padding: 10px;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

/* Menu Toggle Button */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  
}
/* book a demmo button */
.demo {
  font-size: large;
  padding: 0px 5px;
  border-radius: 8px;
  background-color: aqua;
  box-shadow: 4px 4px 8px #ccc;
  color: #212121;
  border: 2px solid aqua;
  cursor: pointer;
}

/* Main Styles */
.main {
  padding: 20px;
}

/* Hero Section Styles */
.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  margin-bottom: 30px;
  background: rgba(255, 255, 255, 0.445); 
  backdrop-filter: blur(80px);
  border: 2px solid #ddd; 
  border-radius: 8px;
  box-shadow: 4px 4px 8px #ccc;
}

.hero h1 {
  font-weight: 800;
  font-size: 3.5vw;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero b {
  color: rgb(4, 82, 160)

}


.description {
  flex: 1;
  padding: 10px;
  margin-right: 20px;
  padding: 20px; 
}


.description p {
  font-size: 18px;
}

.image {
  flex: 1;
}

.image img {
  width: 100%;
  border-radius: 8px;
  border: #f0f solid 2px;
  box-shadow: 4px 4px 8px rgba(70, 5, 5, 0.3);
  max-width: 40vw;
  height: auto;
}

/* Search Bar Styles */
.search {
  display: flex;
  justify-content: center;
  margin: 20px 20px;
}

.search input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.searchButton {
  padding: 10px;
  margin-left: 4px;
  font-size: medium;
  color: #212121;
  cursor: pointer;
  background-color: beige;
  border: 2px solid #ddd; 
  border-radius: 8px;
  box-shadow: 4px 4px 8px #ccc;
}

/* Testimonials Styles */
.testimonials {
  padding: 20px;
}

.testimonials h2 {
    color: #212121;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
}

.testimonials p {
  font-size: 18px;
  margin-bottom: 20px;
}

.testimonial-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
}

.testimonial-card {
  background: rgba(255, 255, 255, 0.445); 
  backdrop-filter: blur(80px);
  border: 2px solid #ddd; 
  border-radius: 8px;
  box-shadow: 4px 4px 8px #ccc;
  padding: 25px;
  border-radius: 8px;
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.testimonial-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}



.testimonial-card p {
  font-size: 14px;
}

.mentorName {
  font-size: 24px;
  font-family: 'Gill Sans', 'Gill Sans MT';
  margin-bottom: 5px;
}

/* Footer Styles */
.footer {
  padding: 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.footer p {
  margin: 5px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
    width: 200px;
    z-index: 100;
  }

  .nav.open {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}

/* login page */


.login {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #333;
  padding: 10px;
  border-radius: 8px;
  width: 200px;
  z-index: 100;
}
/* Center the main div in the viewport */.centered-container {
  background-image: url('./assets/background-image.jpeg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #f4f4f4; /* Light background color for contrast */
}

.loginPage {
  display: flex;
  flex-direction: column;
  padding: 20px; /* Increased padding for better spacing */
  border-radius: 10px; /* Less rounded corners */
  width: 90%; /* Relative width for responsiveness */
  max-width: 400px; 
  box-shadow: 4px 4px 8px rgba(249, 247, 247, 0.2); /* Improved shadow for better effect */
  align-items: center;
  text-align: center; 
  backdrop-filter: blur(10px); /* Apply blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */

}

.heading {
  padding: 0;
  font-family: monospace;
  font-size: 1.5rem; /* Use relative units for font size */
  font-weight: bolder;
  margin-bottom: 20px; /* Added margin for spacing */
}

.loginPage input {
  padding: 10px;
  font-size: 1rem; /* Use relative units for font size */
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%; /* Full width of container */
}

.loginPage .loginButton {
  padding: 10px 20px;
  font-size: 1rem; /* Use relative units for font size */
  background-color: #007bff; /* Primary button color */
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%; /* Full width of container */
}

.loginPage .loginButton:hover {
  background-color: #0056b3; /* Darker color on hover */
}

.loginPage .forgotPassword {
  margin-top: 10px;
  color: #ccc;
  text-decoration: none;
}

.loginPage .forgotPassword:hover {
  text-decoration: underline; 
}

.social-buttons {
  display: flex;
  flex-direction: column;
  width: 100%; 
}

.social-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee; 
  color: #333; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  padding: 10px;
  font-size: 1rem; /* Use relative units for font size */
  width: 100%; 
  margin-top: 10px; 
  cursor: pointer;
  transition: background-color 0.5s; 
}

.social-buttons button:hover {
  background-color: #ddd; 
}

.social-logo {
  width: 24px; 
  height: 24px; 
  margin-right: 10px; 
  vertical-align: middle; 
}

.loginPage button.registerButton {
  background-color: #28a745; 
  color: #fff; 
  border: 1px solid #28a745; 
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem; /* Use relative units for font size */
  width: 100%; 
  margin-top: 10px; 
  margin-bottom: 10px;
  cursor: pointer; 
  transition: background-color 0.3s, border-color 0.3s; 
}

.loginPage button.registerButton:hover {
  background-color: #218838; 
  border-color: #1e7e34;
}

.loginPage button.registerButton:focus {
  outline: none; 
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5); 
}

/* Media Query for Smaller Screens */
@media (max-width: 600px) {
  .loginPage {
    padding: 15px;
  }

  .loginPage h1 {
    font-size: 1.25rem;
  }

  .loginPage input, 
  .loginPage .loginButton, 
  .social-buttons button,
  .loginPage button.registerButton {
    font-size: 0.875rem; /* Slightly smaller font size for smaller screens */
  }
}

/* signup */

/* Signup.css */

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.signup-form {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  box-shadow: 2px 4px 4px rgba(198, 198, 198, 0.3);
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.2); 
  -webkit-backdrop-filter: blur(10px); /* Safari support */

}

.name {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.signup-form input {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  
}

.email-id {
  width: 95%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}



.PhoneInput {
  padding-top: 10px;
  display: flex;
  height: 50px;
  width: 100%;
}

.PhoneInput select {
  border-radius: 7px;
  padding: 10px;
  margin-right: 5px;
  font-size: 16px;
  margin-bottom: 10px;
  width: 25%;
}

.PhoneInput input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

#confirmPassword {
  margin: 10px 0px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.buttons {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.signupToLoginButton {
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 40%;
  font-size: 16px;
  margin-top: 10px;  
  background-color: rgb(25, 154, 6);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}